<%= form_for :user, url: '/users/register', :html => {class: "new_user"} do |f| %>
  <div class="row">
    <div class="column6" id="log-in">
      <div class="new_user_form">
        <br />
        Name: <%= f.text_field :name %><br>
        Email: <%= f.text_field :email %><br>
        Password: <%= f.password_field  :password %><br>
        Confirm:  <%= f.password_field  :password_confirmation %><br>

        <div class="actions"><%= submit_tag "Register" %></div>
      </div>
    </div>
  </div>
<% end %>
